In [94]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd 
import random
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import fetch_mldata
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report, confusion_matrix

In [125]:
def preProcess(features):
    for i, d in enumerate(features):
        mini = min(d)
        maxi = max(d)-mini
        for ii, dd in enumerate(d):
            tmp = (dd-mini)/maxi
            if tmp==1:
                features[i][ii] = 0.99
            elif tmp==0:
                features[i][ii] = 0.01
            else:
                features[i][ii] = tmp

In [126]:
df = pd.read_csv('train.csv')

In [127]:
CreditScore = df['CreditScore'].tolist()
Geography = df['Geography'].tolist()
Gender = df['Gender'].tolist()
Age = df['Age'].tolist()
Tenure = df['Tenure'].tolist()
Balance = df['Balance'].tolist()
NumOfProducts = df['NumOfProducts'].tolist()
HasCrCard = df['HasCrCard'].tolist()
IsActiveMember = df['IsActiveMember'].tolist()
EstimatedSalary = df['EstimatedSalary'].tolist()
Exited = df['Exited'].tolist()

features = (CreditScore, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary)
preProcess(features)        

for i, d in enumerate(Geography):
    if d=='S0':
        Geography[i] = 0.01
    elif d=='S1':
        Geography[i] = 0.5
    else:
        Geography[i] = 0.99
        
for i, d in enumerate(Gender):
    if d=='Male':
        Gender[i] = 0.99
    else:
        Gender[i] = 0.01

In [128]:
X = []
for _ind in range(len(Exited)):
    X.append((CreditScore[_ind], Geography[_ind], Gender[_ind], Age[_ind], Tenure[_ind], Balance[_ind],\
                   NumOfProducts[_ind], HasCrCard[_ind], IsActiveMember[_ind], EstimatedSalary[_ind]))
y = Exited.copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [129]:
_solver = 'adam'
_activation = 'relu'
_alpha = 1e-4
_hidden_layer = (64, 64)
_lr_rate = 0.0001
_batch = 64


mlp = MLPClassifier(solver=_solver, activation=_activation, alpha=_alpha, hidden_layer_sizes=_hidden_layer,\
                    batch_size=_batch, learning_rate_init=_lr_rate)
mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)

print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1233   30]
 [ 204  133]]
              precision    recall  f1-score   support

           0       0.86      0.98      0.91      1263
           1       0.82      0.39      0.53       337

   micro avg       0.85      0.85      0.85      1600
   macro avg       0.84      0.69      0.72      1600
weighted avg       0.85      0.85      0.83      1600

/home/pd2/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [122]:
df_test = pd.read_csv('test.csv')
df_test.head()

CreditScore = df_test['CreditScore'].tolist()
Geography = df_test['Geography'].tolist()
Gender = df_test['Gender'].tolist()
Age = df_test['Age'].tolist()
Tenure = df_test['Tenure'].tolist()
Balance = df_test['Balance'].tolist()
NumOfProducts = df_test['NumOfProducts'].tolist()
HasCrCard = df_test['HasCrCard'].tolist()
IsActiveMember = df_test['IsActiveMember'].tolist()
EstimatedSalary = df_test['EstimatedSalary'].tolist()

features = (CreditScore, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary)
preProcess(features)        
for i, d in enumerate(Geography):
    if d=='S0':
        Geography[i] = 0.01
    elif d=='S1':
        Geography[i] = 0.5
    else:
        Geography[i] = 0.99
        
for i, d in enumerate(Gender):
    if d=='Male':
        Gender[i] = 0.99
    else:
        Gender[i] = 0.01

X_test = []
for _ind in range(len(Age)):
    X_test.append((CreditScore[_ind], Geography[_ind], Gender[_ind], Age[_ind], Tenure[_ind], Balance[_ind],\
                   NumOfProducts[_ind], HasCrCard[_ind], IsActiveMember[_ind], EstimatedSalary[_ind]))
y_pred = mlp.predict(X_test)

df_sample = pd.read_csv('sample_upload.csv')
df_sample['Exited'] = y_pred
df_sample.to_csv('to_upload.csv', index=False, sep=',')

In [123]:
df_check = pd.read_csv('to_upload.csv')
df_check.head()

   Unnamed: 0  RowNumber  Exited
0           0       2209       0
1           1       9924       0
2           2       4617       0
3           3       6077       1
4           4       9240       0

In [124]:
df_check[:100]

    Unnamed: 0  RowNumber  Exited
0            0       2209       0
1            1       9924       0
2            2       4617       0
3            3       6077       1
4            4       9240       0
5            5       4834       0
6            6       8523       0
7            7       2826       0
8            8        871       0
9            9       6698       0
10          10       4609       0
11          11       1025       0
12          12       8894       0
13          13       8985       0
14          14       3901       0
15          15       6613       1
16          16       6237       0
17          17       3625       0
18          18       7116       0
19          19       1366       0
20          20       7465       0
21          21       5196       0
22          22       7118       0
23          23       6533       0
24          24       5989       0
25          25       7601       0
26          26       8220       0
27          27       2286       0
28          28       9742       0
29          29       4608       0
..         ...        ...     ...
70          70       2035       0
71          71       7954       0
72          72       4981       1
73          73       8857       0
74          74       2333       0
75          75       1223       1
76          76       2090       0
77          77       5404       0
78          78       3718       0
79          79       1047       0
80          80       7753       0
81          81       7868       0
82          82      10000       0
83          83       5850       0
84          84       3036       0
85          85       2959       0
86          86       8649       0
87          87       4085       0
88          88        462       0
89          89       5493       0
90          90       9770       0
91          91        722       0
92          92       5526       0
93          93       6521       0
94          94       6727       0
95          95       2334       0
96          96       8963       0
97          97       2687       0
98          98       8401       1
99          99       3448       0

[100 rows x 3 columns]