In [148]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd 
from sklearn.svm import SVC  
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.model_selection import train_test_split

In [149]:
def preProcess(features):
    for i, d in enumerate(features):
        mini = min(d)
        maxi = max(d)-mini
        for ii, dd in enumerate(d):
            tmp = (dd-mini)/maxi
            if tmp==1:
                features[i][ii] = 0.99
            elif tmp==0:
                features[i][ii] = 0.01
            else:
                features[i][ii] = tmp

In [167]:
df = pd.read_csv('train.csv')
df[:10]

,Unnamed: 0,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,551,15806307,S2336,720,S2,Male,38,5,114051.97,2,0,1,107577.29,0
1,1,6897,15709621,S1500,682,S0,Female,54,4,62397.41,1,1,0,113088.60,1
2,2,4588,15619340,S1865,672,S0,Female,31,5,119903.67,1,1,1,132925.17,0
3,3,291,15620746,S1672,592,S2,Female,40,4,104257.86,1,1,0,110857.33,0
4,4,1673,15646372,S2532,753,S2,Male,42,5,120387.73,1,0,1,126378.57,0
5,5,648,15649129,S1548,575,S0,Female,42,5,104472.90,1,1,1,71641.38,0
6,6,6113,15729557,S37,572,S0,Male,37,6,135715.66,1,1,0,115928.95,0
7,7,8957,15579112,S750,753,S1,Female,34,6,124281.61,1,1,0,89136.06,0
8,8,1678,15680895,S2079,546,S0,Male,46,3,62397.41,2,1,1,79809.09,0
9,9,5202,15580935,S252,657,S0,Male,45,4,141238.54,2,0,0,95281.51,0

In [151]:
CreditScore = df['CreditScore'].tolist()
Geography = df['Geography'].tolist()
Gender = df['Gender'].tolist()
Age = df['Age'].tolist()
Tenure = df['Tenure'].tolist()
Balance = df['Balance'].tolist()
NumOfProducts = df['NumOfProducts'].tolist()
HasCrCard = df['HasCrCard'].tolist()
IsActiveMember = df['IsActiveMember'].tolist()
EstimatedSalary = df['EstimatedSalary'].tolist()
Exited = df['Exited'].tolist()

features = (CreditScore, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary)
preProcess(features)        
for i, d in enumerate(Geography):
    if d=='S0':
        Geography[i] = 0.01
    elif d=='S1':
        Geography[i] = 0.5
    else:
        Geography[i] = 0.99
        
for i, d in enumerate(Gender):
    if d=='Male':
        Gender[i] = 0.99
    else:
        Gender[i] = 0.01

In [160]:
 X = []
for _ind in range(len(Exited)):
    X.append((CreditScore[_ind], Geography[_ind], Gender[_ind], Age[_ind], Tenure[_ind], Balance[_ind],\
                   NumOfProducts[_ind], HasCrCard[_ind], IsActiveMember[_ind], EstimatedSalary[_ind]))
y = Exited.copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [166]:
svclassifier = SVC(kernel='rbf', gamma=1.0, C=10) 
# svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train) 
y_pred = svclassifier.predict(X_test)  
 
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[1215   36]
 [ 227  122]]
              precision    recall  f1-score   support

           0       0.84      0.97      0.90      1251
           1       0.77      0.35      0.48       349

   micro avg       0.84      0.84      0.84      1600
   macro avg       0.81      0.66      0.69      1600
weighted avg       0.83      0.84      0.81      1600

In [142]:
df_test = pd.read_csv('test.csv')

CreditScore = df_test['CreditScore'].tolist()
Geography = df_test['Geography'].tolist()
Gender = df_test['Gender'].tolist()
Age = df_test['Age'].tolist()
Tenure = df_test['Tenure'].tolist()
Balance = df_test['Balance'].tolist()
NumOfProducts = df_test['NumOfProducts'].tolist()
HasCrCard = df_test['HasCrCard'].tolist()
IsActiveMember = df_test['IsActiveMember'].tolist()
EstimatedSalary = df_test['EstimatedSalary'].tolist()

features = (CreditScore, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary)
preProcess(features)        
for i, d in enumerate(Geography):
    if d=='S0':
        Geography[i] = 0.01
    elif d=='S1':
        Geography[i] = 0.5
    else:
        Geography[i] = 0.99
        
for i, d in enumerate(Gender):
    if d=='Male':
        Gender[i] = 0.99
    else:
        Gender[i] = 0.01

In [143]:
df_test = pd.read_csv('test.csv')
df_test.head()

CreditScore = df_test['CreditScore'].tolist()
Geography = df_test['Geography'].tolist()
Gender = df_test['Gender'].tolist()
Age = df_test['Age'].tolist()
Tenure = df_test['Tenure'].tolist()
Balance = df_test['Balance'].tolist()
NumOfProducts = df_test['NumOfProducts'].tolist()
HasCrCard = df_test['HasCrCard'].tolist()
IsActiveMember = df_test['IsActiveMember'].tolist()
EstimatedSalary = df_test['EstimatedSalary'].tolist()

features = (CreditScore, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary)
preProcess(features)        
for i, d in enumerate(Geography):
    if d=='S0':
        Geography[i] = 0.01
    elif d=='S1':
        Geography[i] = 0.5
    else:
        Geography[i] = 0.99
        
for i, d in enumerate(Gender):
    if d=='Male':
        Gender[i] = 0.99
    else:
        Gender[i] = 0.01

X_test = []
for _ind in range(len(Age)):
    X_test.append((CreditScore[_ind], Geography[_ind], Gender[_ind], Age[_ind], Tenure[_ind], Balance[_ind],\
                   NumOfProducts[_ind], HasCrCard[_ind], IsActiveMember[_ind], EstimatedSalary[_ind]))

In [146]:
y_pred = svclassifier.predict(X_test)

df_sample = pd.read_csv('sample_upload.csv')
df_sample['Exited'] = y_pred
df_sample.to_csv('to_upload.csv', index=False, sep=',')

In [147]:
df_check = pd.read_csv('to_upload.csv')
df_check.head()

   Unnamed: 0  RowNumber  Exited
0           0       2209       0
1           1       9924       0
2           2       4617       0
3           3       6077       0
4           4       9240       1